@tailwind base;
@tailwind components;
@tailwind utilities;

.letter {
    box-sizing: content-box;
    position: absolute;
    width: 1em;
    height: 1em;
    border: solid 1px white;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
    background-color: #176bcb;
    color: white;
    font-weight: bolder;
    font-size: 18px
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3c6c72ce;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(4, 97, 154, 0.533);
    font-family: Arial, sans-serif;
}

th,
td {
    background-color: #defcf9;
    font-weight: bolder;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #00bbf0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
}

td {
    color: black;
    font-weight: bolder;
}

tr:hover {
    background-color: #f5f5f5;
}

#principal {
    background-image: url("/storage/images/fondo.jpg") !important;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

#principal::before {
    content: "";
    background-image: url("/storage/images/fondo.jpg") !important;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
    position: absolute;

}